<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Asignar Administrativo</h4>
        <input type="date" class="form-control" placeholder="ZIP Code">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                ID
              </th>
              <th>
                Patente
              </th>
              <th>
                Conductor
              </th>
              <th>
                Peoneta
              </th>
              <th>
                Estado
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  XX1031
                </td>
                <td>
                  Martín González
                </td>
                <td>
                  Pedro Rodríguez
                </td>
                <td>
                  Terminada
                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  XX2032
                </td>
                <td>
                  Diego Morales
                </td>
                <td>
                  Valentina Herrera
                </td>
                <td>
                  Terminada
                </td>
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  XX3033
                </td>
                <td>
                  Felipe Silva
                </td>
                <td>
                  Isabella López
                </td>
                <td>
                  Pendiente
                </td>
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  XX4034
                </td>
                <td>
                  Ignacio López
                </td>
                <td>
                  Tomás Muñoz
                </td>
                <td>
                  Terminada
                </td>
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  XX5035
                </td>
                <td>
                  Antonio Castro
                </td>
                <td>
                  Nicolás Torres
                </td>
                <td>
                  Terminada
                </td>
              </tr>
              <tr>
                <td>
                  6
                </td>
                <td>
                  XX6036
                </td>
                <td>
                  Javier Ramírez
                </td>
                <td>
                  Matías Ríos
                </td>
                <td>
                  Terminada
                </td>
              </tr>
              <tr>
                <td>
                  7
                </td>
                <td>
                  XX7037
                </td>
                <td>
                  Sebastián Mendoza
                </td>
                <td>
                  Julio Ortega
                </td>
                <td>
                  Pendiente
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
